:where([data-mantine-color-scheme="dark"]) {
  --custom-background-color-dark: var(--mantine-color-customDark-8);
  --custom-background-color-light: var(--mantine-color-customDark-7);
}
:where([data-mantine-color-scheme="light"]) {
  --custom-background-color-dark: var(--mantine-color-customLight-2);
  --custom-background-color-light: var(--mantine-color-customLight-1);
}

section:where([data-variant="main-section"]):nth-child(odd) {
  background: linear-gradient(
    180deg,
    var(--custom-background-color-dark) 45%,
    var(--custom-background-color-light) 90%
  );
}
section:where([data-variant="main-section"]):nth-child(even) {
  background: linear-gradient(
    360deg,
    var(--custom-background-color-dark) 45%,
    var(--custom-background-color-light) 90%
  );
}

:where([data-mantine-color-scheme="light"]) {
  --mantine-color-blue-light-color: var(--mantine-color-blue-9) !important;
  --gradient-color: linear-gradient(
    45deg,
    var(--mantine-color-blue-9) 0%,
    var(--mantine-color-blue-7) 100%
  );
}
:where([data-mantine-color-scheme="dark"]) {
  --gradient-color: linear-gradient(
    45deg,
    var(--mantine-color-blue-filled) 0%,
    var(--mantine-color-cyan-filled) 100%
  );
}

a:where([data-variant="gradient"]),
p:where([data-variant="gradient"]) {
  --text-gradient: var(--gradient-color) !important;
}

.mantine-ThemeIcon-root:where([data-variant="gradient"]) {
  --ti-bg: var(--gradient-color) !important;
}

.mantine-ActionIcon-root:where([data-variant="gradient"]) {
  --ai-bg: var(--gradient-color) !important;
  --ai-hover: var(--gradient-color) !important;
}

.mantine-Popover-dropdown:where([data-variant="custom-light"]) {
  background-color: var(--mantine-primary-color-light);
  border-color: var(--mantine-primary-color-light-hover);
  backdrop-filter: blur(8px);
}

.mantine-Popover-dropdown:where([data-variant="custom-light"])
  .mantine-Combobox-header {
  color: var(--mantine-primary-color-light-color);
  border-color: var(--mantine-primary-color-light-hover);
}

.mantine-Combobox-option:hover:where([data-variant="custom-light"]),
.mantine-Combobox-option:where([data-combobox-selected]):where(
    [data-variant="custom-light"]
  ) {
  background-color: var(--mantine-primary-color-light-hover);
  color: var(--mantine-primary-color-light-color);
}

.mantine-Combobox-option:where([data-variant="custom-light"]) {
  color: var(--mantine-primary-color-light-color);
}

.mantine-Paper-root:where([data-variant="custom-light"]),
.mantine-Card-root:where([data-variant="custom-light"]) {
  background-color: var(--mantine-primary-color-light);
  border-color: var(--mantine-primary-color-light-hover);
}

.mantine-Timeline-root:where([data-variant="custom-light"])
  .mantine-Timeline-item:hover {
  cursor: pointer;
}

.mantine-Timeline-root:where([data-variant="custom-light"])
  .mantine-Timeline-item:where([data-variant="selected"]),
.mantine-Timeline-root:where([data-variant="custom-light"])
  .mantine-Timeline-item:where([data-variant="deselected"]):hover {
  opacity: 100%;
}

.mantine-Timeline-root:where([data-variant="custom-light"])
  .mantine-Timeline-item:where([data-variant="deselected"]) {
  opacity: 70%;
  transition: all 0.3s ease-in-out;
}

.mantine-Timeline-root:where([data-variant="custom-light"])
  .mantine-Timeline-itemBullet {
  background-color: transparent;
  border: none;
}

.mantine-Timeline-root:where([data-variant="custom-light"])
  .mantine-Timeline-item::before {
  border-color: var(--mantine-primary-color-light-color);
  margin-top: var(--tl-bullet-size);
  opacity: 100%;
}

.mantine-Switch-root:where([data-variant="custom-light"])
  .mantine-Switch-track {
  --switch-bg: var(--mantine-primary-color-light) !important;
  --switch-disabled-color: var(--mantine-primary-color-light) !important;
  --switch-bd: var(--mantine-primary-color-light-hover) !important;
}

.devicon {
  transition: all 0.3s ease-in-out;
}
.devicon:hover {
  scale: 1.1;
}
.devicon path {
  fill: var(--mantine-primary-color-light-color);
  opacity: 80%;
  transition: all 0.3s ease-in-out;
}

.mantine-Tooltip-tooltip:where([data-variant="custom-light"]) {
  background-color: var(--mantine-primary-color-light-hover);
  color: var(--mantine-primary-color-light-color);
  backdrop-filter: blur(8px);
}

::-moz-selection {
  background: var(--mantine-primary-color-light-color);
}
::-webkit-selection {
  background: var(--mantine-primary-color-light-color);
}
::selection {
  background: var(--mantine-primary-color-light-color);
}
