@font-face {
  font-family: Roboto;
  src: url(assets/fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(assets/fonts/montserrat/static/Montserrat-Regular.ttf);
}
:root {
  --dark-background: #0c1c43;
  --dark-primary: #eef4ed;
  --dark-secondary: #64a9ff;
  --dark-border: #2c2c2e;
  --dark-link: #82cfff;
  --dark-button: #0a84ff;
  --dark-button-hover: #92b5d5;
  --dark-alert: #ef5350;
  --dark-navbar-background: #134074;
  --dark-scrollbar-background: #f1f1f11b;
  --dark-scrollbar-handle: #888;

  --light-background: #f7f9fc;
  --light-primary: #1c1c1e;
  --light-secondary: #4b9cd3;
  --light-border: #d9e2ec;
  --light-link: #0056b3;
  --light-button: #0056b3;
  --light-button-hover: #004494;
  --light-alert: #e63946;
  --light-navbar-background: white;

  --font-family-primary: "Roboto";
  --font-family-courier: "Courier New", Courier, monospace;
  --font-family-sections: "Montserrat";
}
html,
.App {
  background: var(--dark-navbar-background);
  background: radial-gradient(
    circle at left top,
    var(--dark-navbar-background) 0%,
    rgba(12, 28, 67, 1) 30%,
    rgba(2, 0, 36, 1) 100%
  );
}
a {
  color: var(--dark-link);
}
p,
li {
  font-family: var(--font-family-primary);
  font-size: 15px;
  color: var(--dark-primary);
}

section {
  padding-top: 100px;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background: var(--dark-scrollbar-background);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark-scrollbar-handle);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark-button-hover);
}
/* TITLES */
h1,
.typed-h1 span {
  font-family: var(--font-family-courier);
  font-size: 70px;
  font-weight: bold;
  color: var(--dark-primary);
}
h2,
.typed-h2 span {
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  color: var(--dark-primary);
}

h3,
h4 {
  color: var(--dark-primary) !important;
  font-family: var(--font-family-sections);
}
.container {
  background: none;
}

/* NAVBAR */

nav.navbar {
  padding: 18px 0;
  width: 100%;
  height: 8%;
  z-index: 9999;
  color: var(--dark-primary);
  transition: all 01s ease-in-out;
}
.navbar-scrolled {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  background-color: var(--dark-navbar-background);
  opacity: 50%;
}
.navbar-scrolled:hover {
  opacity: 100%;
}

.navbar {
  font-size: 14px;
}
.navbar-brand {
  font-size: 15px;
  color: var(--dark-primary) !important;
  font-family: var(--font-family-courier);
}

.navbar-nav a {
  font-family: var(--font-family-primary);
  text-decoration: none;
  transition: 0.2s ease-in-out;
  color: var(--dark-primary);
}
.navbar-nav a.active {
  color: var(--dark-button-hover) !important;
  font-weight: bold;
}
.navbar-nav a:hover {
  color: var(--dark-button-hover);
}

#language-selector .btn {
  background-color: transparent;
  border: none;
  margin-left: 5px;
  padding: 0px 3px !important;
  transition: 0.2s ease-in-out;
}
#language-selector .btn img {
  height: 20px;
  width: 20px;
  margin: 0;
}

#language-selector .btn::after {
  color: var(--dark-primary);
}
#language-selector .language-item {
  font-family: var(--font-family-primary);
  font-size: 12px;
}

#language-selector .language-item img {
  height: 15px;
  width: 15px;
  margin-right: 5px;
}
#language-selector .dropdown-menu {
  box-shadow: 0 4px 12px rgba(225, 223, 223, 0.315);
  min-width: fit-content;
}
/* HOME SECTION */

#home-section {
  margin: 5% 5% 10% 10%;
  align-self: center;
}

#contact-info {
  width: 50%;
  flex-wrap: wrap;
}
#contact-info a,
#contact-info i {
  color: var(--dark-primary);
  text-decoration: none;
  font-family: var(--font-family-primary);
  font-style: normal;
}

#contact-info .bi::before {
  margin-right: 5px;
}

#download-cv p {
  font-size: 15px;
}
#download-cv img {
  height: 12px;
  margin-left: 5px;
}

/* ABOUT ME SECTION */

#about-me {
  display: flex;
  margin-top: 1vh;
}

/* EXPERIENCE SECTION */

.experience-title h4 {
  font-size: 15px;
  margin: 0;
}

.experience-title {
  opacity: 50%;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  margin-right: 10%;
}

.experience-title:hover {
  opacity: 100%;
}
.experience-title .active {
  opacity: 100%;
}

#experiences-body {
  margin-top: 30px;
  height: 200px;
  overflow-y: scroll;
}
.experience-company,
.experience-period {
  font-size: 13px;
  margin: 0;
}
.experience-skills {
  margin-top: 5px;
  margin-left: 1%;
}
.experience-skills p {
  margin-right: 10px;
  font-size: 13px;
}
