@font-face {
  font-family: Roboto;
  src: url(assets/fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(assets/fonts/montserrat/static/Montserrat-Regular.ttf);
}
:root {
  --dark-background: #0c1c43;
  --dark-primary: #eef4ed;
  --dark-secondary: #64a9ff;
  --dark-border: #2c2c2e;
  --dark-link: #82cfff;
  --dark-button: #0a84ff;
  --dark-button-hover: #92b5d5;
  --dark-alert: #ef5350;
  --dark-navbar-background: #134074;
  --dark-scrollbar-background: #f1f1f11b;
  --dark-scrollbar-handle: #888;

  --light-background: #f7f9fc;
  --light-primary: #1c1c1e;
  --light-secondary: #4b9cd3;
  --light-border: #d9e2ec;
  --light-link: #0056b3;
  --light-button: #0056b3;
  --light-button-hover: #004494;
  --light-alert: #e63946;
  --light-navbar-background: white;

  --font-family-primary: "Roboto";
  --font-family-courier: "Courier New", Courier, monospace;
  --font-family-sections: "Montserrat";
}
